<h1>Skills</h1>
<p>
    Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum
    nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos
    benevolentia illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se
    ipse facit, tanti fiat ab amicis. Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia
    quaedam (sed nihil est quod illi non persequantur argutiis): partim fugiendas esse nimias amicitias, ne necesse
    sit unum sollicitum esse pro pluribus; satis superque esse sibi suarum cuique rerum, alienis nimis implicari
    molestum esse; commodissimum esse quam laxissimas habenas habere amicitiae, quas vel adducas, cum velis, vel
    remittas; caput enim esse ad beate vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus
    pro pluribus.
</p>
